<li class="attribute {{#if asResource }}resource {{/if}}spellpoints">
    <h4 class="attribute-name box-title"> {{ spellPointsNameText }}</h4>
    <div class="attribute-value multiple attributable">
        <input name="{{ resourcePath }}.points.value" type="text" value="{{ currentSpellpoints }}" placeholder="10" data-dtype="Number"> <!-- title="${currentSpellPointsTooltip}" -->
        <span class="sep"> / </span>
        <span class="attribute-max" style="padding: 1px 7px !important;" title="{{ maxSpellPointsTooltip }}"> {{ maxSpellPoints }} </span>
        {{#unless asResource }}
        {{{ levelsTooltip }}}
        {{/unless}}
    </div>
    <!-- Temp and Max override
    <footer class="attribute-footer">
        <input name="${VSpellPoints.resourcesPath()}.points.temp" type="text" class="temphp" placeholder="+${spellPointsTempText}" value="${tempPoints}" data-dtype="Number">
        <input name="${VSpellPoints.resourcesPath()}.points.addMax" type="text" class="temphp" placeholder="+${spellPointsTempMaxText}" value="${tempMax}" data-dtype="Number">
    </footer> -->
</li>
